.pagination {
    margin: 0;
    padding: 0;
    text-align: center;
}

.pagination li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination li a,
.pagination li span {
    display: inline-block;
    margin: 0;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination li.active span,
.pagination li.active a:hover,
.pagination li.disabled span,
.pagination li.disabled a:hover {
    background-color: #337ab7;
    color: #fff;
    border-color: #337ab7;
}